.container {
    font-size: 100px;
    background-color: gainsboro;
    text-align: center;
    margin: 0 auto;
    color: green;
    font-weight: bold;
}
#btn {
    font-size: 2rem;
    background-color: rgb(68, 73, 228);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}
#btn:hover {
    background-color: rgb(12, 12, 135);
}